<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
</head>
<body>
    <form action="/creation" method="POST">
        <button type="submit" name="creation">Création de la base</button>
        <br>
    </form>
    <h2><a href="/entreNouveau">Enregistrer un nouvel éleve</a></h2>
    <h2><a href="/recherche">Rechercher un éleve</a></h2>
    <h2><a href="/liste">Liste de tous les élèves</a></h2>
    <h2><a href="/centre">Liste des centres d'examen</a></h2>
</body>
</html>