<!doctype html>
<html  lang="fr-FR">
    <head><meta charset="utf-8"></head>
    <body>
    <form action = "/requete" method = "POST">
        <h3>Rechercher un élève par critère</h3>
        Choisissez le critère de recherche :
        <select name="champ" id="champ" size="1">
            <option value="prenom">Prénom</option>
            <option value="nom">Nom</option>
            <option value="ville">Ville</option>
            <option value="email">E-mail</option>
            <option value="nais">Date de naissance YYYY-MM-JJ</option>
            <option value="adr">Rue</option>
            <option value="cp">Code postal</option>
        </select><br>
        Tapez.<br>
        <input type = "text" name = "motcle" id = "motcle" required/></br>
        <input type = "submit" value = "Rechercher" id = "rechercher"/><br>
        </form>
    <h2><a href = "/">Retourner à la page d'accueil</a></h2>
    </body>
</html>

